@model EntityLayer.Concrete.Payment
@{
    ViewData["Title"] = "EditPayment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditPayment", "AdminPayment", FormMethod.Post))
{
    @Html.Label("Ödeme ID")
    @Html.TextBoxFor(x=>x.PaymentId,new { @class="form-control",@readonly="readonly"})
    <br />
    @Html.Label("Ev Numarası")
    @Html.TextBoxFor(x=>x.HouseId,new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.House.HouseNumber)
    <br />
    @Html.Label("Borç Toplamı")
    @Html.TextBoxFor(x=>x.BillSum,new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.BillSum)
    <br />
    <button class="btn btn-info">Ödemeyi Güncelle</button>
}

